* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #262626;
}

.nickname {
    text-align: left;
    color: #fff;
    padding: 15px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.search-bar {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-photo-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.add-photo-button:hover {
    background-color: #0056b3;
}

.container .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.container .img-container .img {
    width: 350px;
    height: 250px;
    border: 10px solid #fff;
    overflow: hidden;
}

.container .img-container .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .5s;
}

.container .img-container .img:hover img {
    transform: scale(1.1);
}

.container .pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.container .pop-up img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 8px;
    width: 700px;
}

.container .pop-up span {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Додано стиль для форми додавання фотографії */
.add-photo-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-photo-form h2 {
    margin-bottom: 10px;
}

.add-photo-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-photo-form button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.add-photo-form button:hover {
    background-color: #0056b3;
}
